<div class="jumbotron">
  <div class="row checkbook">
    <div class ="col-sm-8">
      <h4>Tae S Yoon</h4>
      <h4>Seon Y Yoon</h4>
      <p>3840 Lightfoot st. #342</p>
      <p>Chantilly, Va 20151</p>
      <p>323-378-9749</p>
    </div>
    <div class ="col-sm-3">
      <br>
      <label for="example-date-input" class="col-xs-2 col-form-label">Date</label>
      <div class="col-xs-10">
        <input class="form-control" type="date" value="2016-11-01" id="example-date-input">
      </div>
    </div>
    <div class="check-number">
      <h4>1024</h4>
    </div>
  </div>
  <div class="row checkbook">
    <div class ="col-sm-2">
      <p>Pay to the</p>
      <p>Order of</p>
    </div>
    <div class ="col-sm-7">
      <input class="form-control" type="text" value="void" id="payee-text-input">
    </div>
    <div class="check-number col-sm-3">
        <div class="dollar"><h4>$</h4></div><div class="check-number"><input class="form-control" type="number" value=".00" id="example-number-input"></div>
    </div>
  </div>
  <div class="row checkbook">
    <div class ="col-sm-2">

    </div>
    <div class ="col-sm-7">
      <input class="form-control" type="text" value="" id="payee-text-input">
    </div>
    <div class="check-number col-sm-3">
        <div class="dollar"><h4>dollars</h4></div>
    </div>
  </div>
  <div>
    BANK OF AMERICA
  </div>
  <div class="checkbook">
    <div class ="col-sm-2">
      <p>for</p>
    </div>
  </div>
  <hr class="my-2">
  <div class ="row checkbook">
  <h4>|: 122000661 :| 000311511559 ||' 1024</h4>
 </div>
</div>
{{outlet}}
